.bfm-marquee-container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: var(--width, 100%);
    transform: var(--container-transform, none);
}

    .bfm-marquee-container:hover .bfm-marquee {
        animation-play-state: var(--pause-on-hover, running);
    }

    .bfm-marquee-container:active .bfm-marquee {
        animation-play-state: var(--pause-on-click, running);
    }

.bfm-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

    .bfm-overlay::before,
    .bfm-overlay::after {
        content: "";
        height: 100%;
        position: absolute;
        width: var(--gradient-width, 200px);
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(to right, var(--gradient-color, white), rgba(255, 255, 255, 0));
    }

    .bfm-overlay::before {
        left: 0;
        top: 0;
    }

    .bfm-overlay::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

.bfm-marquee {
    flex: 0 0 auto;
    min-width: var(--min-width, 100%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: bfm-scroll var(--duration, 0s) linear var(--delay, 0s) var(--iteration-count, infinite);
    animation-play-state: var(--play-state, running);
    animation-direction: var(--direction, normal);
    will-change: transform;
}

    .bfm-marquee:nth-child(2) {
        position: absolute;
        top: 0;
        animation-delay: calc(var(--duration, 0s) / -2);
    }

.bfm-initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}

.bfm-child {
    transform: var(--child-transform, none);
}

@keyframes bfm-scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}